<a href="https://colab.research.google.com/github/WelsonDev/ImersaoDados4Alura/blob/main/ImersaoDados4Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

link = ("https://gist.githubusercontent.com/WelsonDev/47e6459bcb4fe18d691045f64ac239ea/raw/53ba91b5a1d6e37f0eaba0d226360032998e514a/dados_imoveis.csv")
dados = pd.read_csv(link)
dados.head()
# https://www.alura.com.br/imersao-dados-4/aula01-colab-python-pandas
# https://gist.github.com/WelsonDev/47e6459bcb4fe18d691045f64ac239ea#file-dados_imoveis-csv

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000