<a href="https://colab.research.google.com/github/WelsonDev/ImersaoDados4Alura/blob/main/ImersaoDados4Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dados = ("https://gist.githubusercontent.com/WelsonDev/47e6459bcb4fe18d691045f64ac239ea/raw/53ba91b5a1d6e37f0eaba0d226360032998e514a/dados_imoveis.csv")
pd.read_csv(dados)
# https://www.alura.com.br/imersao-dados-4/aula01-colab-python-pandas
# https://gist.github.com/WelsonDev/47e6459bcb4fe18d691045f64ac239ea#file-dados_imoveis-csv

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')